body {
    font-family: Montserrat;
}

.contenedor {
    height: 100vh;
    background-color: #406880;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.logo {
    width: 392px;
    height: 242px;
    margin-left: 199px;
}

.login {
    width: 341px;
    height: 257px;
    margin-right: 203px;
    text-align: center;
}

h3 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 15px;
    color: #fff;
}

 ::placeholder {
    color: #676767;
    text-align: center;
    font-size: 18px;
}

.btn-submit {
    border-style: none;
    background-color: #8D5A6E;
    height: 40px;
    width: 340px;
    border-radius: 4px;
    margin-top: 29px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

input[type='text'],
input[type='password'] {
    border-style: none;
    height: 40px;
    width: 336px;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 16px;
    outline: none;
}

p {
    font-size: 12px;
}

.alert-danger {
    /* border: 1px solid #EF5350; */
    color: #B71C1C;
    background-color: #EF9A9A;
    padding: 15px;
    font-size: 0.8em;
    font-weight: normal;
    border-radius: 15px;
    margin: 15px 0;
    text-align: center;
    padding: 0.6px;
}