<body>
    <div class="contenedor">
        <div class="login">
            <h3>INICIO</h3>
            <form [formGroup]="loginForm">
                <input type="text" formControlName="email" placeholder="Username"> <br>
                <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                    <div *ngIf="username.errors.required">
                        <p>El nombre de usuario o correo es requerido</p>
                    </div>
                    <div *ngIf="username.errors.minlength">
                        <p>Por favor ingrese 5 caracteres como mínimo</p>
                    </div>
                    <div *ngIf="username.errors.maxlength">
                        <p>Por favor ingrese 20 caracteres como máximo</p>
                    </div>
                </div>
                <input type="password" formControlName="password" placeholder="Password"><br>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    <div *ngIf="password.errors.required">
                        <p>El password es requerido</p>
                    </div>
                    <div *ngIf="password.errors.minlength">
                        <p>Por favor ingrese 8 caracteres como mínimo</p>
                    </div>
                    <div *ngIf="password.errors.maxlength">
                        <p>Por favor ingrese 20 caracteres como máximo</p>
                    </div>
                </div>
                <button type="submit" (click)="login()" value="LOGIN" class="btn-submit" [disabled]="loginForm.invalid">Login</button>
                <div>

                </div>
            </form>
        </div>
        <div class="logo">
            <img src="assets/images/logo.png">
        </div>
    </div>
</body>